<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/auth/login.js"></script>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="/public/bootstrap-5.3.6-dist/css/bootstrap.min.css">
    <title>Login</title>
</head>

